p {
    height: 5px;
}

body {
    background-color: #292929;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

input{
    background-color: #2558ff;
    border-style: solid;
    border-radius: 3px;
    color: #ffffff;
    border-color: #3585e7;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    background-color: #2558ff;
    color: #ffffff;
    border-style: none;
    height: 50px;
    width: 100px;
    font-size: large;
}

img {
    width: 150px;
    height: 150px;
    position: absolute;
    padding-left: 1190px;
    padding-bottom: 100px;
    pointer-events: none;
}
